body, html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', Arial, sans-serif;
  background: #000; /* Fond noir */
}

header {
  background-color: #ffffff; /* Couleur de fond du header */
  padding: 1em 0;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  margin: 0 15px;
  position: relative;
}

nav {
  display: flex;
}

a {
  color: #151217; /* Texte principal en noir */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: color 0.3s;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #151217; /* Ligne de soulignement en noir */
  transition: width 0.3s ease, left 0.3s ease;
  width: 0;
}

a:hover {
  color: #DA001E; /* Texte en rouge au survol */
}

a:hover:after {
  width: 100%;
  left: 0;
}

header img {
  height: 50px;
  width: auto;
  transition: transform 0.3s;
}

header img:hover {
  transform: scale(1.1);
}

@media screen and (max-height: 300px) {
  ul {
      margin-top: 40px;
  }
}

/* Styles supplémentaires pour améliorer l'apparence générale */
header {
  border-bottom: 2px solid #151217; /* Ligne de séparation en bas du header */
}

nav li {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  ul {
      flex-direction: column;
  }

  nav {
      flex-direction: column;
  }

  nav li {
      margin: 10px 0;
  }
}

  