<div class="about-container">
    <h1>À propos de nous</h1>
    <p>Fondée il y a plus de dix ans par passion pour l'artisanat et l'art de la sculpture, "Au Petit Village" s'est rapidement distinguée par la qualité de ses créations uniques. Chaque figurine est le fruit d'un travail minutieux et d'une attention particulière aux détails.</p>
  
    <h2>Notre Mission</h2>
    <p>Nous nous lançons dans la vente de figurines faites main, inspirées d’Astérix & Obélix. Nous nous engageons à fournir des figurines de haute qualité, faites avec amour et souci du détail.</p>
  
    <h2>Nos Produits</h2>
    <p>Découvrez toutes nos figurines et explorez leurs détails dans les fiches produit. Chaque figurine est une œuvre d'art unique, inspirée des personnages emblématiques d’Astérix & Obélix.</p>
  
    <h2><a class="nocolor" [routerLink]="['/contact']">Contact</a></h2>
    <p>Pour toute question ou information, n'hésitez pas à nous contacter. Nous serons ravis de vous aider et de répondre à toutes vos questions.</p>
  
  </div>
  
  

