/* Importation de Comfortaa depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/* Importation de Bubbleboddy Neue */
@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/BubbleboddyNeueTrial-Regular.woff2') format('woff2'),
         url('/BubbleboddyNeueTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    font-family: 'Bubbleboddy Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', Arial, sans-serif;
}
  

  
